<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Customer</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
    <h3>Employee List</h3>
    <a th:href="@{/v2/api/employee/addNew}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
    <a th:href="@{/v2/api/employee/refresh}" class="btn btn-primary btn-sm mb-3">Refresh Page</a>
    <table style="width:80%" border="1"
           class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>DOB</th>
            <th>Email</th>
            <th>Is Admin</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee:${allEmployees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.dob}"></td>
            <td th:text="${employee.email}"></td>
            <td th:if="${employee.isAdmin}"></td>
            <!-- <td th:unless="${employee.isAdmin}"></td>-->
            <td><a th:href="@{/v2/api/employee/updateForm/{id}(id=${employee.id})}"
                   class="btn btn-primary">Update</a>
                <a th:href="@{/v2/api/employee/deleteEmployee/{id}(id=${employee.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
