<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Employee Info</h2>
    <form th:action="@{/v2/api/employee/save}" th:object="${employee}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{salary}" placeholder="Salary" class="form-control mb-4 col-4">
        <input type="date" th:field="*{dob}" placeholder="DOB" class="form-control mb-4 col-4">
        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">

        <div class="form-group">
            <label>Admin Status</label>
            <div>
                <input type="checkbox" th:if="${isAdmin}" >Is Admin</input>
                <input type="checkbox" th:unless="${isAdmin}">Is Not Admin</input>
            </div>
        </div>

        <button type="submit" class="btn btn-info col-2">Save Employee</button>
    </form>
    <hr>
    <a th:href="@{/v2/api/employee/}" class="btn btn-info col-2">Back to Employee List</a>
</div>
</body>
</html>
