<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Employee Info</h2>
    <form action="#" th:action="@{/v2/api/employee/save}" th:object="${employee}"
          method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{salary}" placeholder="Salary" class="form-control mb-4 col-4">
        <input type="date" th:field="*{dob}" placeholder="DOB" class="form-control mb-4 col-4">
        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">
        <label >Is Admin</label>
        <input type="checkbox" th:checked="*{isAdmin}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> Update Employee</button>
    </form>
    <hr>
    <a th:href="@{/v2/api/employee/}" class="btn btn-info col-2">Back to Employee</a>
</div>
</body>
</html>